<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2" for="title">Title</label>
    <div class="col-sm-10">
      {{#if post}}
        {{input value=post.title id="title" class="form-control" placeholder="Post Title"}}
      {{else}}
        {{input value=title id="title" class="form-control" placeholder="Post Title"}}
      {{/if}}
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2" for="body">Content</label>
    <div class="col-sm-10">
      {{#if post}}
        {{textarea value=post.body id="body" cols="80" rows="20" class="form-control" placeholder="Post Content..."}}
      {{else}}
        {{textarea value=body id="body" cols="80" rows="20" class="form-control" placeholder="Post Content..."}}
      {{/if}}
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2" for="author">Author</label>
    <div class="col-sm-10">
      {{#if post}}
        {{input value=post.author id="author" class="form-control" placeholder="Post Author"}}
      {{else}}
        {{input value=author id="author" class="form-control" placeholder="Post Author"}}
      {{/if}}
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2" for="image">Images</label>
    <div class="col-sm-10">
      <div class="input-group">
        {{input value=image id="image" class="form-control" placeholder="Image URL"}}
        <span class="input-group-btn">
          {{#if post}}
            <button {{action 'updateImageList' post}} class="btn btn-default">UpdateUpload</button>
          {{else}}
            <button {{action 'addImage'}} class="btn btn-default">Upload</button>
          {{/if}}
        </span>
      </div>
    </div>
  </div>

  <div class="form-group">
    {{#each imageList as |image|}}
      <div class="col-sm-3">
        <a {{action 'removeImage' image}} class="thumbnail">
          <img src={{image.image}} alt="remove image"/>
          <span>x</span>
        </a>
      </div>
    {{/each}}
  </div>

  <div class="form-group">
    <label class="col-sm-2" for="category">Tags</label>
    <div class="col-sm-10">
      {{#if post}}
        {{input value=post.category id="category" class="form-control" placeholder="Tags, Go, Here"}}
      {{else}}
        {{input value=category id="category" class="form-control" placeholder="Tags, Go, Here"}}
      {{/if}}
    </div>
  </div>

  <div class="form-group">
    {{#if post}}
      <button {{action 'update' post}} class="btn btn-primary btn-lg btn-block">Update article</button>
    {{else}}
      <button {{action 'save'}} class="btn btn-primary btn-lg btn-block">Save new article</button>
    {{/if}}
  </div>
</form>
