<article class="meow-text-content">
  <h2>{{model.title}}</h2>
  <p>{{model.author}}</p>
  <p>{{model.date}}</p>
  <p>{{model.category}}</p>
  {{#each model.image as |image|}}
    <div class="meow-post-image-box">
      <img class="meow-post-image" src={{image.image}} alt="" />
    </div>
  {{/each}}
  <section>
    {{markdown-to-html markdown=model.body}}
  </section>
  <footer>
    {{#link-to 'update' model.id}}Update Post{{/link-to}}
    <br>
    <!-- {{#link-to 'delete' model.id}}Delete Post{{/link-to}} -->
    <br>
    {{comment-form saveComment="saveComment" post=model}}
  </footer>
</article>
